<script type="text/javascript" src="/static/common/js/pwd.js"></script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <form id="data-form" name="data-form" class="form-horizontal"><input type="hidden" id="id" name="id">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="old_pwd" class="col-sm-2 control-label">原密码</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" name="old_pwd" id="old_pwd"
                                           placeholder="原密码" datatype="*5-50">
                                </div>
                                <div class="col-sm-6"><span class="Validform_checktip"></span></div>
                            </div>
                            <div class="form-group">
                                <label for="new_pwd" class="col-sm-2 control-label">新密码</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" name="new_pwd" id="new_pwd"
                                           placeholder="新密码" datatype="*5-50">
                                </div>
                                <div class="col-sm-6"><span class="Validform_checktip"></span></div>
                            </div>
                            <div class="form-group">
                                <label for="confirm_pwd" class="col-sm-2 control-label">确认密码</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" name="confirm_pwd" id="confirm_pwd"
                                           recheck="new_pwd" placeholder="确认密码" datatype="*5-50">
                                </div>
                                <div class="col-sm-6"><span class="Validform_checktip" id="configPwd"></span></div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <!--以下两种方式提交验证,根据所需选择-->
                        <input type="button" data-toggle="modal" data-target="#myModal" onclick="pwd()"
                               class="btn btn-primary" data-btn-type="save" value="提交">
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>