<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-user-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number box-middle">
                        登陆帐号：<span th:text="${userInfo.name}"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text g-fw-b">
                        剩余条数
                    </span>
                    <span th:text="${userInfo.allowance}"></span>&nbsp;&nbsp;条
                </div>
            </div>
        </div>

        <!--<div class="col-md-4 col-sm-12 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-commenting-o"></i></span>
                <div class="info-box-content ">
                    <span class="info-box-text box-middle">
                            <span class="g-fw-b">联系客服:</span><span></span>
                    </span>
                </div>
            </div>
        </div>-->
    </div>


    <section style="background:rgb(249,250,252)">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-envelope-open-o"></i> 今日统计</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-7 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3 th:text="${currentCount}"></h3>
                                                <p>今日</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-volume-down"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-blue">
                                            <div class="inner">
                                                <h3 th:text="${successCount}"></h3>
                                                <p>发送成功数</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-red">
                                            <div class="inner">
                                                <h3 th:text="${failCount}"></h3>
                                                <p>发送失败数</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!--<div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-fuchsia">
                                            <div class="inner">
                                                <h3>0</h3>
                                                <p>发送拦截数</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-tty"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>

                            <!--<div class="col-lg-5 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-4 col-xs-12">
                                        <div class="small-box bg-green">
                                            <div class="inner">
                                                <h3>0</h3>
                                                <p>状态成功数</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-xs-6">
                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3>0</h3>
                                                <p>状态失败数</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-xs-6">
                                        <div class="small-box g-c-white g-bc-999">
                                            <div class="inner">
                                                <h3>0</h3>
                                                <p>状态未返回数</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-tty"></i>
                                            </div>
                                            <a href="#" class="small-box-footer" style="display:none">
                                                More info
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">最近7天发送统计</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div class="nodata" id="chart1_nodata" style="display: block;">
                                <img src="/static/common/images/dataNull.png">
                                <p>暂无数据！</p>
                            </div>
                            <div id="chart1" style="height: 403px; width: 100%; -webkit-tap-highlight-color: transparent; user-select: none;" _echarts_instance_="ec_1577408066790"><div style="position: relative; overflow: hidden; width: 723px; height: 403px; padding: 0px; margin: 0px; border-width: 0px;"></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">最近7天状态统计</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            &lt;!&ndash; <canvas id="barChart" style="height: 230px; width: 787px;" width="787" height="230"></canvas> &ndash;&gt;
                            <div class="nodata" id="chart2_nodata" style="display: block;">
                                <img src="/static/common/images/dataNull.png">
                                <p>暂无数据！</p>
                            </div>
                            <div id="chart2" style="height: 403px; width: 100%; -webkit-tap-highlight-color: transparent; user-select: none;" _echarts_instance_="ec_1577408066791"><div style="position: relative; overflow: hidden; width: 723px; height: 403px; padding: 0px; margin: 0px; border-width: 0px;"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </section>


</section>