.bg-white {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #d2d6de;
}

/*
让拥有col-类的div内部垂直居中
由于Bootstrap的栅格系统使用的是float：left的浮动方式，vertical-align属性不起作用
故把内部div的float属性清除，添加display属性,前提是div设置了高度
*/
.v-middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

/*文字高度不能超过80px*/
.box-middle{
    height: 80px;
    line-height: 80px;
}

.btn-lineHeight {
    margin-bottom: 6px;
}

.btn-spacing {
    margin-right: 5px;
}

.preview-img{
    max-width:300px;
    max-height:300px;
}
.main-header .navbar .navbar-logo {
    margin: 5px 10px;
}

.form-group label i{
    color: red;
    margin-left: 10px;
    font-style: normal;
}

#data-form .form-group .select2-container{
    width:100% !important;
}

/*Table鼠标滑动变色*/
.table-hover > tbody > tr:hover {
    background: #e1f5ff;
}

/*选中行*/
table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
    color: #000;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected  {
    background: #D7EBFF;
}

/*table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: #3c8dbc;
}*/

.fixed-table-container tbody .selected td {
    background-color: transparent !important;
}

/*页码框*/
.bootstrap-table .pagination-detail .btn-outline {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

table.dataTable {
    table-layout: fixed;
}

table.dataTable td {
    /*换行*/
    word-wrap: break-word;
    /*省略号
    overflow: hidden;
    text-overflow: ellipsis;
    */
}

.bootstrap-table .pagination-detail .page-list .dropdown-menu {
    min-width: 50px;
}

/*解决input-group-btn与input错位问题*/
.input-group-addon, .input-group-btn {
    vertical-align: top;
}

.avatar-container {
    border-radius: 6px;
    width: 168px;
    height: 168px;
    margin: 0 auto;
}

.avatar-img {
    margin: 2px;
    width: 160px;
    height: 160px;
    text-align: center;
    align: center;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.upload-img {
    margin: 2px;
    width: 225px;
    height: 160px;
    text-align: left;
    align: left;
    border: 1px solid #d2d6de;
}

.btn-camera {
    border: 1px solid gray;
    background-color: #fff;
    color: gray;
}

.btn-camera:hover {
    background-color: gray;
    color: #fff;
}

.navbar-fixed-middle {
    position: fixed;
    z-index: 1031;
    bottom: 30px;
    right: 15px;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.dataTables_filter {
    margin: 10px 10px -10px 15px;
    text-align: right;
}

.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.dataTables_filter div {
    display: inline-block;
}

.dataTables_filter div.btn-group {
    vertical-align: top;
}

.dataTables_filter button.btn {
    vertical-align: top;
}

.dataTables_filter .select2-container {
    vertical-align: top;
}

.dataTables_filter div.form-group {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.dataTables_filter div.form-group input {
    width: 140px;
}

/*解决dataTables_filter下input-group与input-group-btn错位*/
.dataTables_filter div.input-group {
    display: inline-table;
    vertical-align: middle;
}

.dataTables_filter div.input-group .input-group-addon,
.dataTables_filter div.input-group .input-group-btn {
    width: auto !important;
}
.dataTables_filter .panel{
    margin-bottom: 0;
}

.dataTables_filter .panel .panel-body{
    padding-top: 5px;
    padding-bottom: 1px;
}

.dataTables_length {
    display: inline;
    margin-left: 10px;
}

.dataTables_info {
    display: inline;
}

.box-solid-title {
    cursor: pointer;
}

.box-solid .overlay {
    display: none;
}

.skin-black .main-header .navbar {
     margin-left: 0;
}
.skin-black .main-header .navbar .sidebar-toggle {
    border: 1px solid #E4E8EB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    margin: 5px 0;
    line-height: 38px;
    box-sizing: border-box;
}
.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header .navbar .navbar-right > li > a {
     border-left: none;
 }
.skin-black .main-header .navbar .nav > li > a {
    font-size: 16px;
}
.skin-black .main-header .navbar .nav > li > a:hover, .skin-black .main-header .navbar .nav > li > a:active,.skin-black .main-header .navbar .nav > li > a:focus, .skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav .open > a:hover, .skin-black .main-header .navbar .nav .open > a:focus, .skin-black .main-header .navbar .nav > .active > a {
    background: #ffffff;
    color: #1ab394;
}

.skin-black .sidebar a {
    color: #ffffff;
}
.skin-black .sidebar-menu {
     font-size: 16px;
}
.skin-black .sidebar-menu > li > a {
    padding: 18px;
}
.skin-black .sidebar-menu > li:hover > a {
    color: #ff0000;
}
.skin-black .sidebar-menu > li.active > a {
    color: #ff0000;
    border-left-color: #ff0000;
}
.skin-black .treeview-menu>li>a{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.skin-black .sidebar-menu .treeview-menu > li > a {
    color: #ffffff;
}
.skin-black .sidebar-menu .treeview-menu > li.active > a,
.skin-black .sidebar-menu .treeview-menu > li > a:hover {
    color: #ff0000;
}

/*解决图片预览位置问题*/
#kvFileinputModal .file-preview-other {
    line-height: 1 !important;
}

body .layer_tips{color:#f00;background-color: #C0C0C0;}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip {
    line-height: 16px;
    padding-left: 20px;
    height: auto;
    max-width: 90%;
    color: #999999;
}

.Validform_right {
    color: #71b83d !important;
    white-space: nowrap;
    background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
    color: red;
    white-space: nowrap;
    background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
    background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
    background-color: #ffe7e7;
}

#Validform_msg {
    color: #7d8289;
    font: 14px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
    width: 280px;
    -webkit-box-shadow: 2px 2px 3px #aaa;
    -moz-box-shadow: 2px 2px 3px #aaa;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 99999;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: -1;
}

#Validform_msg .Validform_title {
    line-height: 25px;
    height: 25px;
    text-align: left;
    font-weight: bold;
    padding: 0 8px;
    color: #fff;
    position: relative;
    background-color: #000;
}

#Validform_msg a.Validform_close:link, #Validform_msg a.Validform_close:visited {
    line-height: 22px;
    position: absolute;
    right: 8px;
    top: 0px;
    color: #fff;
    text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
    color: #cc0;
}

#Validform_msg .Validform_info {
    padding: 8px;
    border: 1px solid #000;
    border-top: none;
    text-align: left;
}

