.nodata{
    position: absolute;
    top:50%;left:50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.nodata>p{
    text-align: center;
    margin: 10px 0;
}
.colorBar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.colorBar>span{
    margin: 0 5px;
}
.colorBar>span>em{
    font-style: inherit;
    display: inline-block;
    vertical-align:-webkit-baseline-middle;
}
.colorCard{
    width:16px;
    height: 16px;
}
.a-color{
    background: #f56954;
}
.b-color{
    background: #00a65a;
}
.c-color{
    background: #f39c12;
}
.d-color{
    background: #00c0ef;
}
.e-color{
    background: #3c8dbc;
}
.f-color{
    background: #d2d6de;
}